{{ "<!-- Slider Start -->" | safeHTML}}
<section id="slider"
         style="background-image:url({{ .Site.BaseURL }}img/slider-bg.webp), url({{ .Site.BaseURL }}img/slider-bg.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="block text-center">
                    <h1 class="animated fadeInUp text-uppercase">A DIGITAL MARKETING & DESIGN AGENCY</h1>
                    <p class="animated fadeInUp">We love the Web and the work we do.
                        We work closely with our clients to deliver the best possible solutions for their needs</p>
                    <a class="btn btn-main btn-solid-border" href="{{ .Site.Params.slider.url | absURL }}">Discover Our
                        Projects</a>
                </div>
            </div>
        </div>
    </div>
</section>