{{ partial "global-header.html" . }}

<section id="about">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h2>{{ .Site.Data.about.title }}</h2>
            </div>
            <p>{{ .Site.Data.about.description_1 | safeHTML }}</p>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="about-image">
                    <img src="{{.Params.image | absURL }}"/>
                </div>
            </div>
        </div>
        <div class="row">
            <p>{{ .Site.Data.about.description_2 | safeHTML }}</p>
        </div>
        <div class="row">
            {{ range .Site.Data.about.content }}
            <div class="col-12">
                <div class="about-item">
                    <i class="{{ .icon }}"></i>
                    <h4>{{ .name }}</h4>
                    <p>{{ .text }}</p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>