{{ partial "global-header.html" . }}

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p>{{ .Site.Data.aboutus.description_1 | safeHTML }}</p>
                <br>
                <p>{{ .Site.Data.aboutus.description_2 | safeHTML }}</p>
                <br>
                {{ range .Site.Data.aboutus.content }}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="about-item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-2">
                                    <img src="{{ .icon }}"/>
                                </div>
                                <div class="col-xs-12 col-sm-9">
                                    <h4>{{ .name }}</h4>
                                    <p>{{ .text }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>