<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>{{ .Site.Params.wrapper.title }}</h2>
          </div>
          <p>{{ .Site.Params.wrapper.paragraph_1 }}</p>
          <p>{{ .Site.Params.wrapper.paragraph_2 }}</p>
        {{ with .Site.Params.wrapper.button }}
          <a href="{{ .url }}" class="btn btn-main btn-solid-border">{{ .caption }}</a>
        {{ end }}
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-6 col-sm-12 about-us__image">
        <div class="block">
         <img src="{{ with .Site.Params.wrapper.image }} {{ . | absURL }} {{ end }}" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>